.wrapper
    .header
        .logo
            a(href='#') Rikka
            sup.superRegLogo ®
        .menu-link
            .hamburger
                span
                span
                span
            nav.nav-menu.flex
                ul.top-menu.flex#menu
                    li
                        a(href='#', class='menu-link') Case Studies
                    li
                        a(href='#', class='menu-link') Services
                    li
                        a(href='#', class='menu-link') About
                    li
                        a(href='#', class='menu-link') Learn
                    li
                        a(href='#', class='menu-link') Speaking
        .work-with-us
            a.work-us(href='#', class='') Work with us
    .ideas-worth
        .ideas.flex
            .cross
            h1.ideas-text-up.ideasW ideas worth
    .rallying.flex
        div
            p.strategic-branding Rikka 
                sup.superReg ® 
                is a strategic branding agency
            p.strategic-branding focused on brand creation, rebrands, and brand
            p.strategic-branding transformation for forward-thinking companies.
        div
            h2.rall.ideas-text-up rallying
    .around.ideas-text-up
        h2 Around
            sup.around-tm TM
    .discover-our-work.flex
        p.our-work Discover Our Work
        .grove-more
            img(src='img/11.jpg', alt='')
            .grow-more-revenue.flex
                p Grow more revenue
                    span.times
                    | inspire customer loyalty
                    span.times
                    | Fuel innovation
        p (Scroll)
