section.main
    .wrapper
        .lets.flex
            h2.upper-lets-find.letsF Let's
            h2.upper-lets-find.findL Find
        .find
            h2.upper-lets-find Your sign
        .bild-from.flex
            .from-foundations
                p From the foundations to the future.
            .build.flex
                h3 Build a meaningful brand to scale faster and deliver on your brand promise.
                p Building and maintaining a solid brand is challenging. You may struggle with differentiating, having a clear message, reaching the right audience, attracting top talent, or even aligning internally. We’re here to help you overcome these obstacles and build a brand that supercharges your business.
                a.choose(href='') (CHOOSE YOUR PURPOSE)
                .learnReadExpl.flex
                    .sa
                        a(href='') Learn about our Branding Services
                    .sa
                        a(href='') Explore the Rikka® Method
                    .sa
                        a(href='') Read our Case Studies
section.clientCaseStudies
    .client.wrapper.flex
        h2 Client Case Studies
        a(href="#") See more work →
    .caseStudies.flex
        .clientCasePosts.flex
            +clientPost (clientPosts.caseOne)
        .clientCasePosts.flex
            +clientPost (clientPosts.caseTwo)
    .caseStudies.flex
        .clientCasePosts.flex
            +clientPost (clientPosts.caseThree)
        .clientCasePosts.flex
            +clientPost (clientPosts.caseFour) 
section.press.wrapper
    .pres-paragraph
        p.firstRightText Our thought leadership in the press and latest 
        p thinking on vision, leadership, culture, and brand.
    .articles-press.flex
        h2 Articles 
            span Press
        a(href="#") Read more articles
    .articles-press-card.flex
        .articles-card 
            img(src="img/clock.jpg", alt="Articles Press Is It Time To Rebrand")
            p Is It Time To Rebrand?
        .articles-card 
            img(src="img/inovate.jpg", alt="Articles Press Desperate to Innovate Hire Rare Breeds")
            p Desperate to Innovate? Hire Rare Breeds
        .articles-card 
            img(src="img/rikkaBg.jpg", alt="Articles Press Behind the Rikka® Rebrand")
            p Behind the Rikka® Rebrand
